/*

#: id
.: class
none: tag

*/


*{
    padding: 0;
    padding: 0;
    /*list-style: none;*/
    /*text-decoration: none;*/
}

body{
    text-align: center;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    width: 100%;
    background: #262626;
    z-index: 12;
    position: fixed;
}

.logo{
    width: 30%;
    float: left;
    line-height: 100px;
}

.logo a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: 300;
    letter-spacing: 3px;
}

nav{
    float: right;
    line-height: 100px;
}

nav a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 0 10px;
    letter-spacing: 2px;
    color: #fff;
}

.banner-area{
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url("../imgs/thunder.JPG");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2{
    padding-top: 8%;
    font-size: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.content-area {
    width: 100%;
    position: relative;
    top: 450px;
    background: #ddd;
    height: 1500px;
    text-align: center;
}

.content-area h2 {
    font-family: 'Montserrat';
    letter-spacing: 3px;
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #00000070;
    opacity: 0.3;
    bottom: 0px;
    text-align: center
}
