<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Name of site, displayed on browser tab -->
    <title>Bonnie Guo</title>

    <!-- My local css styes -->
    <link rel="stylesheet" href="../css/styles.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,800">
    <!-- Import icons -->
    <link rel="icons" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <!-- Header -->
    <div class="header-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <!-- Logo/site name -->
            <a href="#">Bonnie Guo</a>
          </div>
  
          <!-- Navigation -->
          <nav>
            <a href="#home">Home</a>
            <a href="#about-me">About Me</a>
            <a href="#experiences">Experiences</a>
            <a href="#resume">Resume</a> 
          </nav>
        </div>

        <!-- Banner -->
        <div class="banner-area">
          <h2>This is the banner.</h2>
        </div>

        <!-- Content -->
        <div class="content-area">
          <div class="wrapper">
            <h2>Welcome to my website.</h2>
            <p>Lovely to have you!</p>
          </div>
        </div>
      </header> 
      
    </div>

    <!-- Footer -->
    <footer class='footer'>
      <a href="#"><i class="fa fa-github"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </footer>


    
  </body>
</html>